.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.loaderh1 {
  margin-bottom: 10%;
  color: white;
  font-size: 3rem;
  text-align: center;
}
.backGroundImage {
  background-image: url(../../videos/ether.gif);

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.backGroundImage > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: oblique;
  font-weight: 900;
}
.formContainer {
  padding-top: 30%;
}
@media screen and (min-width: 768px) {
  .formContainer {
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .formContainer > h1 {
    font-size: 1.5rem;
  }
}
