.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.loaderh1 {
  margin-bottom: 10%;
  color: white;
  font-size: 3rem;
  text-align: center;
}
.backGroundImage {
  background-image: url(../../videos/ether.gif);

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.backGroundImage > h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: oblique;
  font-weight: 900;
  margin-bottom: 5%;
}
.formContainer {
  padding-top: 30%;
}
