.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.loaderh1 {
  margin-bottom: 10%;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.backGroundImage {
  background-image: url(../../videos/ether.gif);

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
