.tableContainer {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  padding: 10% 10%;
}

.noContractsFound {
  padding: 15% 0%;
  text-align: center;
  font-family: "Staatliches", cursive;
}
.noContractsFoundButton {
  margin: 15% 15%;
}
.ContractsFound {
  padding: 10% 0%;
  text-align: center;
  font-family: "Staatliches", cursive;
  color: white;
  font-weight: bold;
}
.singleContract {
  padding: 3% 4%;
  border: 5px dotted black;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.contractsFoundHeader {
  padding: 10% 0%;
  text-align: center;
  font-family: "Staatliches", cursive;
  color: white;
  font-weight: bold;
}
