.circle1 {
  background-image: url(./videos/house.png);
  background-position: center;

  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 8%;
  border-radius: 100%;
  position: relative;
}
.circle2 {
  background-image: url(./videos/check.png);
  background-position: center;

  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 8%;
  border-radius: 100%;
  position: relative;
}
.circle3 {
  background-image: url(./videos/contract.png);
  background-position: center;

  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 8%;
  border-radius: 100%;
  position: relative;
}

.stepsh1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  margin: 5%;
}

.circleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 25%;
  margin-top: 5%;
}
.circleH2 {
  text-align: center;
  color: white;
}
.circleContent > p {
  text-align: center;
  margin: 5%;
  color: white;
  font-size: 1.3em;
}
.circleContent > button {
  background-color: #a9c1ee;
  border-radius: 7%;
  padding: 3%;
  font-family: "Staatliches", cursive;
  color: white;
}
.circleContent > button:hover {
  transition: all 0.5s ease-in-out;
  background: lightpink;
}
.circleCol {
  border: 5px solid red;
}
.circleRow {
  display: flex !important;
  align-items: center !important;
}
.ActiveStep {
  animation: pulse 2s infinite;
}
.InactiveStep {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.buttonActive {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
}
.buttonDisabled {
  opacity: 0.65 !important;
  cursor: not-allowed !important;
  background-color: black !important;
}
.formContainer {
  padding: 10% 25%;
  font-family: "Staatliches", cursive;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.formContainer > h1 {
  font-size: 2rem;
  padding-top: 100px;
  font-weight: bold;
}
.formContainer > * {
}
.alerter {
  text-align: center;
}
.nothingFoundHeading {
  font-size: 50px;
}
.btnLink {
  text-decoration: none;
}
